@import "tailwindcss";
@import "./fonts.css";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --font-sans: "Noto Sans SC", "Fallback Sans", sans-serif;
  --font-mono: "Roboto Mono", "Noto Sans SC", monospace;
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
}

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --page-background: #e8edf2;
  --foreground: #282728;
  --accent: #4a8bbd;
  --muted: #e6e6e6;
  --border: #e5e9f0;
  --strong-font-weight: 700;
  --posts-list-time-color: #969696;
  --skeleton: #e5e7eb;
  --error: #b91c1c;
}

html[data-theme="dark"] {
  --background: #1e2229;
  --page-background: #16181d;
  --foreground: #eaedf3;
  --accent: #d19a66;
  --muted: #343f60bf;
  --border: #3a3f4a;
  --strong-font-weight: 800;
  --posts-list-time-color: #8b8b8b;
  --skeleton: #374151;
  --error: #f87171;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-skeleton: var(--skeleton);
  --color-error: var(--error);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: color-mix(
        in srgb,
        var(--color-muted) 80%,
        var(--color-foreground) 20%
      )
      transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-sans text-foreground selection:bg-accent/75 selection:text-background;
    font-family: var(--font-sans), var(--font-emoji);
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl;
  }
}

@layer utilities {
  .active-nav {
    color: var(--accent) !important;
  }
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

@media (pointer: coarse) {
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 800ms;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
:target {
  scroll-margin-block: 1rem;
}
