---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  class?: string;
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
  author?: string;
};

const {
  pubDatetime,
  modDatetime,
  class: className = "",
  timezone: postTimezone,
  author,
} = Astro.props;

const isModified = modDatetime && modDatetime > pubDatetime;

const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone || SITE.timezone
);

const date = datetime.format("YYYY-MM-DD");
---

<div class:list={["flex items-center gap-x-2 opacity-80", className]}>
  {
    isModified && (
      <span class="text-sm">Updated:</span>
    )
  }
  <time
    class="text-sm text-[var(--posts-list-time-color)]"
    datetime={datetime.toISOString()}
  >
    {date}
  </time>
  {
    author && (
      <>
        <span aria-hidden="true">&nbsp;·&nbsp;</span>
        <span class="text-sm text-[var(--posts-list-time-color)]">
          {author}
        </span>
      </>
    )
  }
</div>
