---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import { SITE } from "@/config";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["w-full", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div class="mx-auto flex max-w-3xl flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4">
    <Socials />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row text-sm text-[var(--posts-list-time-color)]">
      <span>Copyright &#169; {currentYear}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>{SITE.title}</span>
    </div>
  </div>
</footer>
